<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="username">
        <p>hello {{username}}</p>
    </div>

    //声明式渲染
    <div id="app-1">{{message}}</div>

    //v-blind指令，v-表示他们是Vue的特殊指令
    <div id="app-2">
        <span v-bind:title="message">
            what are you doing?
        </span>
    </div>

    <div id="app-3">
        <p v-if="seen">now you see me</p>
    </div>

    <div id="app-4">
        <ol >
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">
            reverse Message
        </button>
    </div>

    <div id="app-6">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>


    <!--<div id="app-7">-->
        <!--<ol><todo-item></todo-item></ol>-->
    <!--</div>-->

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-blind:todo="item"></todo-item>
        </ol>
    </div>
</body>
<script type="" src="../js/vue.js"></script>
<script>
    const vm=new Vue({
        el:'#app',
        data:{
            username:'change'
        }
    })

    const vm1=new Vue({
        el:'#app-1',
        data:{
            message:'hello word'
        }
    })

    const vm2=new Vue({
        el:'#app-2',
        data:{
            message:'You loaded this page on'+new Date()
        }
    })

    const vm3=new Vue({
        el:'#app-3',
        data:{
            seen:true
        }
    })

    //重点记忆
    const vm4=new Vue({
        el:'#app-4',
        data:{
            todos:[
                {text:'Learn JavaScript'},
                {text:'Learn Vue'},
                {text:'Build something awesome'}
            ]
        }
    })
    //vm4.todos.push({text:'dedsd dewd'})做错过


    const vm5=new Vue({
        el:'#app-5',
        data:{
            message:'hello Vue.js',
        },
        methods:{
            reverseMessage:function(){
                this.message=this.message.split('').reverse().join('')
            }
        }
    })

    const vm6=new Vue({
        el:'#app-6',
        data:{
            message:'hello Vue!'
        }
    })


    //组件
    // Vue.component('todo-item',{
    //     template:'<li>这是一个todo </li>'
    // })
    // const vm7=new Vue({
    //     el:'#app-7'
    // })

    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    })
    const vm7=new Vue({
        el:'#app-7',
        data:{
            groceryList:[
                {text:'jany'},
                {text:'sam'},
                {text:'nack'}
            ]
        }
    })

</script>
</html>